<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop ultrabook</title>
    <link rel="stylesheet" href="/css/nav_vertical.css">
    <link rel="stylesheet" href="/css/nav_horizontal.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="nav">
        <ul>
            <li><a href="/admins">Admins</a></li>
            <li><a href="/order">Hóa đơn</a></li>
            <li><a class="active" href="/products">Sản phẩm</a></li>
        </ul>
    </div>

    <div class="container-content">
        <ul>
            <li><a href="/products">Tất cả</a></li>
            <li><a href="/gaming">Gaming</a></li>
            <li><a class="active" href="/ultrabook">Ultrabook</a></li>
            <li><a href="/macbook">Macbook</a></li>
            <li><a href="/create-product">Thêm sản phẩm</a></li>
        </ul>
        <div class="w3-container">
            <br>
            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr class="w3-light-grey">
                        <th>Ảnh sản phẩm</th>
                        <th>Tên</th>
                        <th>Hoạt động</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(let i=0; i<data.length; ++i) {%>
                        <tr>
                            <td>
                                <img src="<%=data[i].image%>" style="
                                    height: 150px;
                                    width: 200px;
                                    border-radius: 12px;
                                    object-fit: fill;
                                " />
                            </td>
                            <td>
                                <%= data[i].name.length> 45
                                    ? (
                                    data[i].name.substring(0, 45) + '...'
                                    )
                                    : data[i].name
                                    %>
                            </td>
                            <td style="
                            display: flex;
                        ">
                                <a href="/details/product/<%=data[i].id%>" target="_blank">
                                    <button class="button-element">Chi tiết</button>
                                </a>
                                <form action="/update-product/<%=data[i].id%>" method="get">
                                    <button class="button-element">Sửa</button>
                                </form>
                                <form action="/handle-remove-product" method="post">
                                    <input value="<%=data[i].id%>" hidden name="id" />
                                    <button class="button-element" type="submit">Xóa</button>
                                </form>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </div>
        <!-- <div class="confirm-delete-dialog" id="dialog-confirm-delete">
            <div class="dialog-content">
                <h2 id="text-title-dialog">Confirm Delete</h2>
                <p id="content-message-delete">Are you sure you want to delete this item?</p>
                <div class="button-container">
                    <button class="btn cancel-btn" id="cancelBtn">Cancel</button>
                    <button class="btn confirm-btn" id="confirmBtn">Delete</button>
                </div>
            </div>
        </div> -->

    </div>
</body>
<script src="/js/product.js"></script>

</html>